<p id="notice"><%= notice %></p>

<div style="margin: 0 0 0 20px;">

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Platform</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.id %></td>
        <td><%= session.created_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
        <td><%= session.platform %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
