
<style>
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-color: white;
}

h3 { text-transform: uppercase }
</style>

<div id='map' style='width: 70%; height: 100vh; margin: 0; float: left'></div>



<div style="float: left; height: 100hv; width:30%; overflow-y: scroll;">

  <p id="notice"><%= notice %></p>

  <%= @session.created_at.strftime("%a, %e %b %Y %H:%M:%S %z") %>
  <br><br>
  <table>
    <tr>
      <th>ID</th>
      <th>PLATFORM</th>
    </tr>
    <tr>
      <td><%= @session.id %></td>
      <td><%= @session.platform %></td>
  </table>

<hr>

<% @session.buds.each do | bud | %>
  <h3><%= bud.identifier %></h3>

  <% if !bud.locations.empty? %>

  <table>
    <tr>
      <th>LAT</th>
      <th>LONG</th>
      <th>ACCURACY</th>
      <th>DATE</th>
      <th>DIFF (SEC)</th>
    </tr>
  <% bud.locations.each_with_index do | location, i | %>
    <tr>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= location.accuracy %></td>
      <td><%= location.created_at.strftime("%H:%M:%S") %></td>
      <td><% if i == 0 %>-<% else %><%= (location.created_at - bud.locations[i-1].created_at).to_i %><% end %></td>
    </tr>
  <% end %>
  </table>
  </script>

  <% else %>
    No data
  <% end %>

  <hr>

<% end %>

</div>


<script>

mapboxgl.accessToken = 'pk.eyJ1IjoianphZ2hpbmkiLCJhIjoiY2owa2tvaWNrMDBpazJ3bzdpeTV4YW1kayJ9.A8HHaWA8ycpBy7vFTl_n1Q';

var geojson = {
    "type": "FeatureCollection",
    "features": [
      <% @session.buds.each do | bud | %>
      <% bud.locations.each do | location | %>
      {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [<%= location.longitude %>, <%= location.latitude %>]
        },
        "properties": {
          "message": "Foo",
          "iconSize": [5, 5],
          "title": "YO <%= location.created_at %>"
        }
    },
    <% end %>
    <% end %>
    ]
};

<% if !@session.buds.empty? %>
var center = [<%= @session.buds.first.locations.first.longitude %>, <%= @session.buds.first.locations.first.latitude %>]
<% else %>
var center = [0,0]
<% end %>


var map = new mapboxgl.Map({
    container: 'map',
    center: center,
    zoom: 15,
    style: 'mapbox://styles/mapbox/dark-v9'
});

map.addControl(new mapboxgl.NavigationControl());

// add markers to map
geojson.features.forEach(function(marker) {
    // create a DOM element for the marker
    var el = document.createElement('div');
    el.className = 'marker';
    //el.style.backgroundImage = 'url(https://placekitten.com/g/' + marker.properties.iconSize.join('/') + '/)';
    el.style.width = marker.properties.iconSize[0] + 'px';
    el.style.height = marker.properties.iconSize[1] + 'px';

    // el.addEventListener('click', function() {
    //     window.alert(marker.properties.message);
    // });

    // add marker to map
    new mapboxgl.Marker(el, {offset: [-marker.properties.iconSize[0] / 2, -marker.properties.iconSize[1] / 2]})
        .setLngLat(marker.geometry.coordinates)
        .addTo(map);
});

</script>
